<p id="notice"><%= notice %></p>



<div> Group Name: </div>
<div> <%= @meeting.name %> </div>
<br>
<div> Group id: </div>
<div> <%= @meeting.id %> </div>
<br>
<div> Group course: </div>
<div> <%= @meeting.course_id %> </div>
<br>
<div> Group location: </div>
<div> <%= @meeting.location %> </div>
<br>
<div> Group description: </div>
<div> <%= @meeting.description %> </div>
<br>
<div> Group start_date: </div>
<div> <%= @meeting.start_date %> </div>
<br>
<div> Group start_time: </div>
<div> <%= @meeting.start_time %> </div>
<br>
<div> Group duration: </div>
<div> <%= @meeting.duration %> </div>
<br>
<br>
<div>Creator </div>
<div> Creater username: </div>
<div> <%= @meeting.creator_username %> </div>
<br>
<div> Creater name : </div>
<div> <%= @meeting.creator_firstname + " " + @meeting.creator_lastname %> </div>
<br>
<div> Creater id: </div>
<div> <%= @meeting.creator_id %> </div>
<br>
<br>
<div> Memeber List:  </div>
<div> <%= @meeting.members %></div>

<%= link_to 'Edit', edit_meeting_path(@meeting.id) %> |
<%= link_to 'Back', course_path(@meeting.course_id) %>