<p id="notice"><%= notice %></p>



<h2> Group Name: </h2>
<div> <%= @group.name %> </div>
<br>
<h2> Group id: </h2>
<div> <%= @group.id %> </div>
<br>
<h2> Group course: </h2>
<div> <%= @group.course_id %> </div>
<br>
<br>
<h2>Creator </h2>
<div> Creater username: </div>
<div> <%= @group.creator_username %> </div>
<br>
<div> Creator name : </div>
<div> <%= @group.creator_firstname + " " + @group.creator_lastname %> </div>
<br>
<div> Creater id: </div>
<div> <%= @group.creator_id %> </div>
<br>
<br>
<h2> Member List:  </h2>
<div> <%= @group.members %></div>

<%= link_to 'Edit', edit_group_path(@group.id) %> |
<%= link_to 'Back', course_path(@group.course_id) %>
