<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(new_group, remote: remote, url: url_for(action: 'create', controller: 'groups', method: 'get'))      do |f| %>    

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control required'  %>
    
    <%= f.hidden_field :course_id, value: course_id%>
    <%= f.hidden_field :creator_username, value: creator_username%>
    <%= f.hidden_field :creator_lastname, value: creator_lastname%>
    <%= f.hidden_field :creator_firstname, value: creator_firstname%>
    <%= f.hidden_field :creator_email, value: creator_email%>
    <%= f.hidden_field :creator_id, value: creator_id%>

    <%= label :post, "Members" %>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Members
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% members.each do |b| %>
          <li class = "member-dd-item" id = "member-dd-<%= b["id"] %>"><a href="#" class= "member-dd-item" value = '<%= b["id"]%>'> <%= b["first_name"]%> <%= b["first_name"] %></a>  </li> 
        <% end %>
      </ul>
    </div>           
    <div id = "member-list"></div>

    <%= text_field_tag 'member', "", class: "hidden-member", style: "display:none;"  %>

    <%= f.submit "Create", class: "btn btn-primary submit-btn" %>
<% end %>

<script>
    $('.datepicker').datetimepicker({
    //endDate: '+5y',
    format:'YYYY/MM/DD hh:mm A',
    
  });
      $(".member-dd-item").on("click", function(e){
    
    e.stopPropagation();
    e.preventDefault();
    var text = $(this).text();
    var val = $(this).attr("value");
    if(text == "Select Assignee"){
      return
    }
    html = $("#member-list").html();
    html += "<div id = 'member-" + val + "'' class = 'member-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-member remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#member-list").html(html);
    $(".remove-member").on("click", function(){
      $(this).closest(".member-item").detach()
      setHiddenMember();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenMember();
  })
  function setHiddenMember(){
    str = ""
    $(".member-dd-item").show();
    $(".member-item").each(function(){
      var id = this.id.split("-")[1]
      $("#member-dd-" +id).hide();
      str += id + "|"
    })
    $(".hidden-member").val(str)
  }
</script>