<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_tag("meeting", method: "create") do %>
    
    <%= hidden_field_tag "course_id", course_id%>

    <%= label_tag "Name"%>
    <%= text_field_tag :name, "", class: 'form-control' %>
        
    <%= label_tag "Location" %>
    <%= text_field_tag :location , "", class: 'form-control'%>

    <%= label_tag "Description"%>
    <%= text_field_tag :description, "", class: 'form-control' %>
    
    <%= label_tag "State Date" %>
    <%= text_field_tag :start_date , "", class: 'datepicker required'%>

    <%= label_tag "Start Time" %>
    <%= text_field_tag :start_time , "", class: 'datepicker1 required'%>

    <%= label_tag "Duration" %>
    <%= text_field_tag :duration , "", class: 'form-control'%>

    <%= text_field_tag :creator_username , "", class: "hidden-member", style: "display:none;" %>

    <%= text_field_tag :creator_lastname , "", class: "hidden-member", style: "display:none;" %>

    <%= text_field_tag :creator_email , "", class: "hidden-member", style: "display:none;" %>

    <%= label :post, "Members" %>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Members
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% members.each do |b| %>
          <li  class = "member1-dd-item" id = "member1-dd-<%= b["id"] %>"><a href="#" class= "member1-dd-item" value = '<%= b["id"]%>'> <%= b["first_name"]%> <%= b["first_name"] %></a>  </li> 
        <% end %>
      </ul>
    </div>           
    <div id = "member1-list"></div>

    <%= text_field_tag 'member', "", class: "hidden-member1", style: "display:none;"  %>


    <div id = "member1-list"></div>

    <%= text_field_tag 'members', "", class: "hidden-member1", style: "display:none;"  %>

    <%= submit_tag "Create Meeting", class: "btn btn-primary"%>
<% end %>

<script>
    $('.datepicker').datetimepicker({
    //endDate: '+5y',
    format:'YYYY/MM/DD',
    
  });
     $('.datepicker1').datetimepicker({
    //endDate: '+5y',
    format: 'LT',
    
  });
      $(".member1-dd-item").on("click", function(e){
    
    e.stopPropagation();
    e.preventDefault();
    var text = $(this).text();
    var val = $(this).attr("value");
    if(text == "Select Assignee"){
      return
    }
    html = $("#member1-list").html();
    html += "<div id = 'member1-" + val + "'' class = 'member1-item select-item' style = 'position: relative; display: inline-block;'>" 
        + "<p style = 'margin:0px; padding-right:15px'>" + text + "</p>" + 
       "<span class = 'glyphicon glyphicon-remove remove-member1 remove-item' style='margin:2px; float:right;'>" +"</span>" + 
       " </div>"
    $("#member1-list").html(html);
    $(".remove-member1").on("click", function(){
      $(this).closest(".member1-item").detach()
      setHiddenMember();
    })
    //just for now while im setting up the new breeds
    $(this).get(0).selectedIndex = 0;
    setHiddenMember();
  })
  function setHiddenMember(){
    str = ""
    $(".member1-dd-item").show();
    $(".member1-item").each(function(){
      var id = this.id.split("-")[1]
      $("#member1-dd-" +id).hide();
      str += id + "|"
    })
    $(".hidden-member1").val(str)
  }
</script>