<p id="notice"><%= notice %></p>
<data> Token: <%= $token %></data>
<data> user id : <%= $user_id %></data>
<h1>Courses You are assigned to <%= @mycourses.length %> Courses!</h1>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @mycourses.each do |course| %>
      <tr>
      <td><%= course[1]["name"] %> </td>
      <td><%= course[1]["id"] %> </td>
        <td><%= link_to 'Show', course_path(course[0],course[1]["name"]) %></td>
        <td><%= link_to 'Remove from My course', course_path(course[0]),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<h1>THere are <%= @courses.length %> Courses to choose from!</h1>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
      <td><%= course[1]["name"] %> </td>
      <td><%= course[1]["id"] %> </td>
        <td><%= link_to 'Show', course_path(course[0]) %></td>
        <td><%= link_to 'Add to My Course', new_course_path(course[0]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
